@import "../VARS/variables";
/*estilos catalogo*/
/*estilos main catalogo*/
.main-catalogo{
    div{
        .catalogo {
            @include catalogo-m;     
            img{
                width: 70%;
                height: 80%;
                margin: 5px;
                border-radius: 15px;
            }
            
            a{
                @include a-m;
            }
            a:hover{
                background-color: $color-hover;
            }
        }
    }
}

/*pantalla de computador*/

@media (min-width: 768px){
    .main-catalogo{
        div{
           .catalogo{
                @include pngs-c;
                @include catalogo-c;
                img{
                    width: 80%;
                }
           } 
        }
    }
}