@import "../VARS/variables";

/*estilos generales*/
body{
    @extend %general;

    h1{font-size: 30px;}
    h2{font-size: 20px;}
    p{font-size: 15px;}
    ul{list-style: none;}
    li{font-size: 15px;}

    .botones{
        @extend %bottons;
    }
    
    .botones:hover{
        background-color: $color-hover;
    }
    
    .container{
        max-width: 1200px;
        margin: auto;
    }
    
}