//estilos generales//
$color-principal: rgb(197, 140, 140);
$color-botonesmenu: rgb(211, 253, 253);
$color-hover: rgb(213, 226, 236);
$color-header: rgb(233, 156, 156);
$color-seleccion: rgb(135, 135, 238);
$color-footer: rgb(180, 1, 41);

$color-header2: rgb(231, 217, 199);
$color-principal2: rgb(250, 230, 201);